@charset "utf-8";
/* CSS Document */


/*  CSS PARA MOBILE  */
/*@media only screen and (max-device-width: 480px) {*/
body {
	font-family:Verdana, Geneva, sans-serif;
	color:#000;
	background-image:url('img/background.png');
}
header {
	height:140px;
	width:100%;
	padding-top:20px;
}
#container {
	width:470px;
/*	height:auto;*/
	margin:auto;
}
main {
	margin-top:20px;
}
h1 a {
	height:134px;
	width:130px;
	display:block;
	text-indent:-9999px;
	background-image:url('img/logo_GK.png');
	margin-left:40px;
}
h2 {
	border-bottom:solid 2px #999;
	margin-top:30px;
	margin-bottom:15px;
	font-size:1.2em;
/*	margin-left:20px;*/
	padding-left:45px;
	padding-right:45px;
}
img {
  max-width:100%;
}
figure {
	background-color:#f2eded;
	border:solid 1px #999;
	text-align:center;
	padding:15px;
	margin:16px auto;
/*	width:600px;*/
}
figcaption {
	margin-top:10px;
}
p {
	margin-top:15px;
	padding-left:45px;
	padding-right:45px;
	line-height:1.5em;
}
.centro-distribuicao {
	margin:0px auto;
	text-align:center;
	width:400px;
	border:none;
	background-color:transparent;
}
.familia-teles {
/*	float:right;*/
	margin:0px auto;
	text-align:center;
	margin: 0 0 10px 10px;
	border:none;
	background-color:transparent;
}
li {
	margin:15px 0px 0px 60px;
}
a:link {
	text-decoration:none;
	color:#690;
}
a:hover {
	text-decoration:underline;
}
footer {
	color:#ccc;
	margin:30px 0px;
	clear:both;
	background: url('img/fundo-rodape.png');
}
.caixa-footer img {
	vertical-align:middle;
	margin-left:30px;
}
.social {
	position:absolute;
	top:30px;
	right:20px;
}
.social a {
	display:inline-block;
	height:32px;
	width:32px;
	margin-right:-60px;
	text-indent:-9999px;
}
.social li {
	display: inline;
}
.caixa-footer {
	position:relative;
	padding:20px;
}
.facebook {
	background:url('img/sociais.png') no-repeat 0 0;
	background-position:0px 0px;
}
.googleplus {
	background:url('img/sociais.png') no-repeat 0 0;
	background-position:-44px 0px;
}
.twitter {
	background:url('img/sociais.png') no-repeat 0 0;
	background-position:-88px 0px;
}

/* CSS para index */

header {
	position:relative;
}
.sacola {
	background: url('img/sacola.png') no-repeat 0 0;
	width:140px;
	position:absolute;
	text-align:right;
	top:0;
	right:0;
}


.menu-principal {
	/*position:absolute;*/
	float:left;
/*	bottom:10px;
	right:0;
	text-decoration:none;
	display:inline;*/
	margin-bottom:30px;
	margin-top:-50px;
	text-align:right;
	width:420px;
}
.menu-principal ul li {
/*	display:inline;*/
	padding:0px;
	display:block;
}
.menu-principal ul li a:hover {
	color:#660;
}


.busca {
	background-color:#dcdcdc;
	font-weight:bold;
	text-transform:uppercase;
	margin-right:10px;
	width:420px;
	float:left;
	padding:0px 20px 10px 20px;
	border-radius:10px 10px 0px 0px;
	text-align:center;
}


.busca input {
	vertical-align:middle;
}
.busca input[type="search"] {
	height:35px;
	width:370px;
	border-radius:10px;
}
.caixa-destaque {
	margin-top: 10px;
}
.caixa-destaque img {
	float:right;
}
.menu-departamentos {
	background-color:#dcdcdc;
	font-weight:bold;
	text-transform:uppercase;
	margin-right:10px;
	width:420px;
	float:left;
	padding:0px 20px 10px 20px;
	clear:left;
	margin-top:10px;
/*	padding-bottom:10px;*/
	text-align:center;
}
.menu-departamentos li {
	background-color:#FFF;
	padding:4px;
	margin:5px 1px;
	margin-left:2px;
	float: initial;
/*	list-style:none;
*/}
.menu-departamentos a {
	color:#666;
	text-decoration:none;
}
.menu-departamentos li ul {
	display:none;
}
.menu-departamentos li:hover ul {
	display:block;
}
/*.menu-departamentos ul ul li:hover {
	display:block;
}*/
.menu-departamentos ul ul li {
	background-color:#dcdcdc;
	list-style:none;
}
.menu-departamentos ul ul li a:before {
	content:'- ';
}
.linkprincipal {
	padding: 0;
}

.fotoprincipal {
	float:right;
	width:100%;
	top:0;
	margin-bottom:20px;
}



.caixa.paineis {
	margin:50px 0px 10px 0px;
/*	padding:10px;*/
	width:100%;
/*	display:flex;*/
	display:inline-block;
/*	border-radius:10px;
	box-shadow:3px 3px 6px #666;*/
}
.painel h2:before {
	content:'\2756';
	padding-right:5px;
	opacity:0.4;
}
.painel.novidades {
/*	justify-content:space-around;*/
	width:465px;
	float:left;
	background-color:#f5dcdc;
	background-image: linear-gradient(to bottom, #f5dcdc, #bebef4);
	box-shadow: inset 0px 0px 20px #888;
	margin-right:20px;
	padding-bottom:0;
	margin-bottom:20px;
	text-align:center;
}
.painel.mais-vendidos {
/*	justify-content:space-around;*/
	width:465px;
	float:left;
	background-color:#dcdcf5;
	background-image: linear-gradient(to bottom, #dcdcf5, #f4bebe);
	box-shadow: inset 0px 0px 20px #888;
	padding:0;
	margin-bottom:20px;
	text-align:center;
}
.figurearruma {
	float:left;
	height:auto;
	padding:0;
	margin:6px 6px;
	width:140px;
}

.painel li {
	display:inline-block;
	vertical-align:top;
	width:140px;
	padding:2px;
	margin-bottom:10px;
	margin-left:3px;
	transition:0.7s ease-out;
}
.painel li:hover {
	box-shadow:3px 3px 6px #666;
	background-color: rgba(255,255,255,0.8);
	transform:scale(1.2) rotate(-5deg);
	transition:0.7s ease-in;
	}
.painel h2 {
	font-size:1.2em;
	font-weight:bold;
	text-transform:uppercase;
	margin-bottom:10px;
	margin-left:10px;
}
.painel a {
	color:#333;
	text-align:center;
	text-decoration:none;
}
.painel figure {
	margin:0;
	padding:0px;
	width:140px;
}
.painel figcaption {
	margin:0;
	padding:0;
	width:140px;
}


/* CSS para contato */


/*#contato {
	float:left;
	width:300px;
	height:auto;
}*/


/* CSS para contato */

#contato {
	margin:0 auto;
/*	width:50%;
	margin-left:25%;*/
	height:auto;
	margin-bottom:50px;
}
input, textarea, select { 
	padding:5px; 
	color:#333; 
	border-radius:5px;  
	border:1px solid; 
}
input:hover, textarea:hover, input:focus, textarea:focus { 
	border-color:#693; 
	border:1px solid; 
	color:#000;
	background-color:#E1EED2;
}



/* CSS para cartão de fidelidade */

table {
	width:400px;
	margin:0 auto;
	margin-top:20px;
	margin-bottom:20px;
}
table td {
	font-size:0.9em;
	line-height:1.2em;
	vertical-align:middle;
	padding:7px;
}
.tdtableleft {
	width:100px;
	text-align:left;
}
.colortablea {
	background:#fff;
}
.colortableb {
	background:#eee;
}
/*}*/




/*  CSS PARA TABLET  */
@media screen and (min-width: 480px) {



body {
	font-family:Verdana, Geneva, sans-serif;
	color:#000;
	background-image:url('img/background.png');
}
header {
	height:140px;
	width:100%;
	padding-top:20px;
}
#container {
	width:700px;
/*	height:auto;*/
	margin:auto;
}
main {
	margin-top:20px;
}
h1 a {
	height:134px;
	width:130px;
	display:block;
	text-indent:-9999px;
	background-image:url('img/logo_GK.png');
	margin-left:40px;
}
h2 {
	border-bottom:solid 2px #999;
	margin-top:30px;
	margin-bottom:15px;
	font-size:1.2em;
	padding-left:45px;
	padding-right:45px;
}
/*img {
  max-width:100%;
}*/
figure {
	background-color:#f2eded;
	border:solid 1px #999;
	text-align:center;
	padding:15px;
	margin:16px auto;
/*	width:600px;*/
}
figcaption {
	margin-top:10px;
}
p {
	margin-top:15px;
	padding-left:45px;
	padding-right:45px;
	line-height:1.5em;
}
.centro-distribuicao {
	margin:0px auto;
	text-align:center;
	width:550px;
	border:none;
	background-color:transparent;
}
.familia-teles {
	float:right;
	text-align:center;
	margin: 0 0 10px 10px;
	border:none;
	background-color:transparent;
}
li {
	margin:15px 0px 0px 60px;
}
a:link {
	text-decoration:none;
	color:#690;
}
a:hover {
	text-decoration:underline;
}
footer {
	color:#ccc;
	margin:30px 0px;
	clear:both;
	background: url('img/fundo-rodape.png');
}
.caixa-footer img {
	vertical-align:middle;
	margin-left:30px;
}
.social {
	position:absolute;
	top:30px;
	right:20px;
}
.social a {
	display:inline-block;
	height:32px;
	width:32px;
	margin-right:-60px;
	text-indent:-9999px;
}
.social li {
	display: inline;
}
.caixa-footer {
	position:relative;
	padding:20px;
}
.facebook {
	background:url('img/sociais.png') no-repeat 0 0;
	background-position:0px 0px;
}
.googleplus {
	background:url('img/sociais.png') no-repeat 0 0;
	background-position:-44px 0px;
}
.twitter {
	background:url('img/sociais.png') no-repeat 0 0;
	background-position:-88px 0px;
}

/* CSS para index */

header {
	position:relative;
}
.sacola {
	background: url('img/sacola.png') no-repeat 0 0;
	width:140px;
	position:absolute;
	text-align:right;
	top:0;
	right:0;
}
.menu-principal {
	float:left;
/*	position:absolute;
	bottom:10px;
	right:0px;
	text-decoration:none;
	display:inline;*/
	margin-bottom:40px;
	margin-top:20px;
	text-align:right;
	width:95%;
}
.menu-principal ul li {
	display:inline;
	padding:2px;
	margin-left:10px;
}
.menu-principal ul li a:hover {
	color:#660;
}
.busca {
	background-color:#dcdcdc;
	font-weight:bold;
	text-transform:uppercase;
	margin-right:10px;
	width:210px;
	float:left;
	padding:0px 10px 10px 10px;
	border-radius:10px 10px 0px 0px;
	text-align:left;
}


.busca input {
	vertical-align:middle;
}
.busca input[type="search"] {
	height:25px;
	width:170px;
	border-radius:10px;
}
.caixa-destaque {
	margin-top: 10px;
}
.caixa-destaque img {
	float:right;
}
.menu-departamentos {
	background-color:#dcdcdc;
	font-weight:bold;
	text-transform:uppercase;
	margin-right:10px;
	width:210px;
	float:left;
	padding:10px;
	clear:left;
	margin-top:10px;
/*	padding-bottom:10px;*/
text-align: left;

}

.menu-departamentos h2,
.busca h2 {
	padding-left:0;
}

.menu-departamentos li {
	background-color:#FFF;
	padding:4px;
	margin:5px 1px;
	margin-left:2px;
	float: initial;
/*	list-style:none;
*/}
.menu-departamentos a {
	color:#666;
	text-decoration:none;
}
.menu-departamentos li ul {
	display:none;
}
.menu-departamentos li:hover ul {
	display:block;
}
/*.menu-departamentos ul ul li:hover {
	display:block;
}*/
.menu-departamentos ul ul li {
	background-color:#dcdcdc;
	list-style:none;
}
.menu-departamentos ul ul li a:before {
	content:'- ';
}
.linkprincipal {
	padding: 0;
}

.fotoprincipal {
	float:right;
	width:518px;
	top:0;
	margin-bottom:20px;
}



.caixa.paineis {
	margin:100px 0px 10px 0px;
/*	padding:10px;*/
	width:100%;
	display:flex;
/*	border-radius:10px;
	box-shadow:3px 3px 6px #666;*/
}
.painel h2:before {
	content:'\2756';
	padding-right:5px;
	opacity:0.4;
}
.painel h2{
	text-align:left;
	padding-left:0;
}
.painel.novidades {
/*	justify-content:space-around;*/
	width:365px;
	float:left;
	background-color:#f5dcdc;
	background-image: linear-gradient(to bottom, #f5dcdc, #bebef4);
	box-shadow: inset 0px 0px 20px #888;
	margin-right:20px;
	padding:0;
/*	margin-bottom:20px;*/
}
.painel.mais-vendidos {
/*	justify-content:space-around;*/
	width:365px;
	float:right;
	background-color:#dcdcf5;
	background-image: linear-gradient(to bottom, #dcdcf5, #f4bebe);
	box-shadow: inset 0px 0px 20px #888;
	padding:0;
/*	margin-bottom:20px;*/
}
.figurearruma {
	float:left;
	height:auto;
	padding:0;
	margin:6px 6px;
	width:140px;
}

.painel li {
	display:inline-block;
	vertical-align:top;
	width:140px;
	padding:2px;
	margin-bottom:10px;
	margin-left:3px;
	transition:0.7s ease-out;
}
.painel li:hover {
	box-shadow:3px 3px 6px #666;
	background-color: rgba(255,255,255,0.8);
	transform:scale(1.2) rotate(-5deg);
	transition:0.7s ease-in;
	}
.painel h2 {
	font-size:1.2em;
	font-weight:bold;
	text-transform:uppercase;
	margin-bottom:10px;
	margin-left:10px;
}
.painel a {
	color:#333;
	text-align:center;
	text-decoration:none;
}
.painel figure {
	margin:0;
	padding:0px;
	width:140px;
}
.painel figcaption {
	margin:0;
	padding:0;
	width:140px;
}


/* CSS para contato */


/*#contato {
	float:left;
	width:300px;
	height:auto;
}*/


/* CSS para contato */

#contato {
	margin:0 auto;
/*	width:50%;
	margin-left:25%;*/
	height:auto;
	margin-bottom:50px;
}
input, textarea, select { 
	padding:5px; 
	color:#333; 
	border-radius:5px;  
	border:1px solid; 
}
input:hover, textarea:hover, input:focus, textarea:focus { 
	border-color:#693; 
	border:1px solid; 
	color:#000;
	background-color:#E1EED2;
}



/* CSS para cartão de fidelidade */

table {
	width:700px;
	margin:0 auto;
	margin-top:20px;
	margin-bottom:20px;
}
table td {
	font-size:0.9em;
	line-height:1.2em;
	vertical-align:middle;
	padding:7px;
}
.tdtableleft {
	width:200px;
	text-align:left;
}
.colortablea {
	background:#fff;
}
.colortableb {
	background:#eee;
}

}
/*  CSS PARA DESKTOP - ORIGINAL  */
@media screen and (min-width: 769px) {


body {
	font-family:Verdana, Geneva, sans-serif;
	color:#000;
	background-image:url('img/background.png');
}
header {
	height:140px;
	width:100%;
	padding-top:20px;
}
#container {
	width:940px;
/*	height:auto;*/
	margin:auto;
}
main {
	margin-top:20px;
}
h1 a {
	height:134px;
	width:130px;
	display:block;
	text-indent:-9999px;
	background-image:url('img/logo_GK.png');
	margin-left:40px;
}
h2 {
	border-bottom:solid 2px #999;
	margin-top:30px;
	margin-bottom:15px;
	font-size:1.2em;
	padding-left:0;
	padding-right:0;
}
/*img {
  max-width:100%;
}*/
figure {
	background-color:#f2eded;
	border:solid 1px #999;
	text-align:center;
	padding:15px;
	margin:16px auto;
/*	width:600px;*/
}
figcaption {
	margin-top:10px;
}
p {
	margin-top:15px;
	padding-left:45px;
	padding-right:45px;
	line-height:1.5em;
}
.centro-distribuicao {
	margin:0px auto;
	text-align:center;
	width:550px;
	border:none;
	background-color:transparent;
}
.familia-teles {
	float:right;
	text-align:center;
	margin: 0 0 10px 10px;
	border:none;
	background-color:transparent;
}
li {
	margin:15px 0px 0px 60px;
}
a:link {
	text-decoration:none;
	color:#690;
}
a:hover {
	text-decoration:underline;
}
footer {
	color:#ccc;
	margin:30px 0px;
	clear:both;
	background: url('img/fundo-rodape.png');
}
.caixa-footer img {
	vertical-align:middle;
	margin-left:30px;
}
.social {
	position:absolute;
	top:30px;
	right:20px;
}
.social a {
	display:inline-block;
	height:32px;
	width:32px;
	text-indent:-9999px;
}
.social li {
	display: inline;
}
.caixa-footer {
	position:relative;
	padding:20px;
}
.facebook {
	background:url('img/sociais.png') no-repeat 0 0;
	background-position:0px 0px;
}
.googleplus {
	background:url('img/sociais.png') no-repeat 0 0;
	background-position:-44px 0px;
}
.twitter {
	background:url('img/sociais.png') no-repeat 0 0;
	background-position:-88px 0px;
}

/* CSS para index */

header {
	position:relative;
}
.sacola {
	background: url('img/sacola.png') no-repeat 0 0;
	width:140px;
	position:absolute;
	text-align:right;
	top:0;
	right:0;
}
.menu-principal {
	position:absolute;
	bottom:10px;
	right:0;
	text-decoration:none;
	display:inline;
	margin-bottom:10px;
	margin-top:10px;
}
.menu-principal ul li {
	display:inline;
	padding:2px;
}
.menu-principal ul li a:hover {
	color:#660;
}
.busca {
	background-color:#dcdcdc;
	font-weight:bold;
	text-transform:uppercase;
	margin-right:10px;
	width:210px;
	float:left;
	padding:0px 10px 10px 10px;
	border-radius:10px 10px 0px 0px;
}


.busca input {
	vertical-align:middle;
}
.busca input[type="search"] {
	height:25px;
	width:170px;
	border-radius:10px;
}
.caixa-destaque {
	margin-top: 10px;
}
.caixa-destaque img {
	float:right;
}
.menu-departamentos {
	background-color:#dcdcdc;
	font-weight:bold;
	text-transform:uppercase;
	margin-right:10px;
	width:210px;
	float:left;
	padding:10px;
	clear:left;
	margin-top:10px;
/*	padding-bottom:10px;*/
}
.menu-departamentos li {
	background-color:#FFF;
	padding:4px;
	margin:5px 1px;
	margin-left:2px;
	float: initial;
/*	list-style:none;
*/}
.menu-departamentos a {
	color:#666;
	text-decoration:none;
}
.menu-departamentos li ul {
	display:none;
}
.menu-departamentos li:hover ul {
	display:block;
}
/*.menu-departamentos ul ul li:hover {
	display:block;
}*/
.menu-departamentos ul ul li {
	background-color:#dcdcdc;
	list-style:none;
}
.menu-departamentos ul ul li a:before {
	content:'- ';
}
.linkprincipal {
	padding: 0;
}

.fotoprincipal {
	float:right;
	width:700px;
	top:0;
	margin-bottom:20px;
}



.caixa.paineis {
	margin:140px 0px 10px 0px;
/*	padding:10px;*/
	width:100%;
	display:flex;
/*	border-radius:10px;
	box-shadow:3px 3px 6px #666;*/
}
.painel h2:before {
	content:'\2756';
	padding-right:5px;
	opacity:0.4;
}
.painel.novidades {
/*	justify-content:space-around;*/
	width:465px;
	float:left;
	background-color:#f5dcdc;
	background-image: linear-gradient(to bottom, #f5dcdc, #bebef4);
	box-shadow: inset 0px 0px 20px #888;
	margin-right:20px;
	padding:0;
/*	margin-bottom:20px;*/
}
.painel.mais-vendidos {
/*	justify-content:space-around;*/
	width:465px;
	float:right;
	background-color:#dcdcf5;
	background-image: linear-gradient(to bottom, #dcdcf5, #f4bebe);
	box-shadow: inset 0px 0px 20px #888;
	padding:0;
/*	margin-bottom:20px;*/
}
.figurearruma {
	float:left;
	height:auto;
	padding:0;
	margin:6px 6px;
	width:140px;
}

.painel li {
	display:inline-block;
	vertical-align:top;
	width:140px;
	padding:2px;
	margin-bottom:10px;
	margin-left:3px;
	transition:0.7s ease-out;
}
.painel li:hover {
	box-shadow:3px 3px 6px #666;
	background-color: rgba(255,255,255,0.8);
	transform:scale(1.2) rotate(-5deg);
	transition:0.7s ease-in;
	}
.painel h2 {
	font-size:1.2em;
	font-weight:bold;
	text-transform:uppercase;
	margin-bottom:10px;
	margin-left:10px;
}
.painel a {
	color:#333;
	text-align:center;
	text-decoration:none;
}
.painel figure {
	margin:0;
	padding:0px;
	width:140px;
}
.painel figcaption {
	margin:0;
	padding:0;
	width:140px;
}


/* CSS para contato */


#contato {
	float:left;
	width:300px;
	height:auto;
}


/* CSS para contato */

#contato {
	margin:0 auto;
	width:50%;
	margin-left:25%;
	height:auto;
	margin-bottom:50px;
}
input, textarea, select { 
	padding:5px; 
	color:#333; 
	border-radius:5px;  
	border:1px solid; 
}
input:hover, textarea:hover, input:focus, textarea:focus { 
	border-color:#693; 
	border:1px solid; 
	color:#000;
	background-color:#E1EED2;
}



/* CSS para cartão de fidelidade */

table {
	width:700px;
	margin:0 auto;
	margin-top:20px;
	margin-bottom:20px;
}
table td {
	font-size:0.9em;
	line-height:1.2em;
	vertical-align:middle;
	padding:7px;
}
.tdtableleft {
	width:200px;
	text-align:left;
}
.colortablea {
	background:#fff;
}
.colortableb {
	background:#eee;
}

}

tr:nth-child(1) {
   background-color:#E9D0D0;

}

tr:nth-child(2) {
   background-color:e8e6e5;
   
}

tr:nth-child(3) {
   background-color:#E9D0D0;

}

tr:nth-child(4) {
   background-color:e8e6e5;

}
tr:nth-child(5) {
   background-color:#E9D0D0;

}

tr:nth-child(6) {
   background-color:e8e6e5;

}

tr:nth-child(7) {
   background-color:#E9D0D0;

}


